<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="supported-color-schemes" content="light"/>

  <title>
    {%- if page.title -%}
      {{ page.title }}
    {%- else -%}
      {{ site.title }}
    {%- endif -%}
  </title>

  {%-seo title=false-%}
  {%-feed_meta-%}
  <link rel="icon" href='data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><text y=".9em" font-size="90">🏟️</text></svg>'; />
  <!-- <link rel="shortcut icon" type="image/x-icon" href="{{ site.favicon | relative_url }}" /> -->
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}" />
</head>